{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muslim Relief Foundation</title>
</head>
<body>
{% block title %}This site is Under maintenance We will come back soon {% endblock %}

{% block content %}
    This is <em>an</em> Opensource WebPres  <strong>Free Site Builder</strong>.
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      Zakat
        <div class="container">
           <!-- Content here -->
            <h4>Learn to know about Zakat.</h4>

        </div>
    </div>
    <div class="col">
       Raman Appeals
        <div class="container">
           <!-- Content here -->
            <h4>Share your donate to most needs</h4>
        </div>
    </div>
    <div class="col">
       Support Old People
        <div class="container">
           <!-- Content here -->
            <h4>Feeds Them On Time</h4>
        </div>
    </div>
  </div>
</div>


<div class="jumbotron text-center">
  <div class="container">
    <h1>Free website builder ever...!</h1>
    <p class="" style="color:red">Recommended Hosting Services.
    <a type="button" class="btn btn-lg btn-default" href="https://bigwebx.com/"><span class="glyphicon glyphicon-ok"></span>[Bigweb X]</a></p>
  </div>
</div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">
    This site full support from WebPres Foundation <a href="" class="alert-link">Get Started</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>fork or Download WebPres</h3>
      <ul>
        <li>Fork & Vote a start at <a href="https://github.com/WebPres-org/v1.0">Github</a> Webpres V1.0.</li>

        <li>How to <a href="">get started</a></li>
        <li>Host your site with us. Free consultancy</li>
        <li>Manage Server on your own <a href="https://bigwebx.com/index.php?rp=/store/deploy-modern-app">Check out.</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="  <li class="nav-item">
">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>Deploy your app by stackscript: or clone from </li>
        <ul>
          <li><code>https://github.com/WebPres-org/v1.0.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd WebPres</code> - change directory into the local source code repository</li>
          <li>No server yet? <a href="https://bigwebx.com/index.php?rp=/store/deploy-modern-app">Check out</a> price on Bigwebx</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="">Developer Team</a></li>
        <li><a href="https://www.forum.webpres.org">WebPres Forum</a></li>
        <li><a href="www.webpres.org">Download Cms WebPres Site Builder</a></li>
        <li><a href="https://docs.webpres.org/en/latest/">WebPres Documentations</a></li>
      </ul>
    </div>
  </div> <!-- row -->

</div>
{% endblock %}
</body>
</html>